@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;700&display=swap');


/* width */
::-webkit-scrollbar {
    width: 0.6rem;
    border-radius: 0.3rem;

}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0.3rem;

}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
}


html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    width: 100%;
    overflow: none;
}

body {
    margin: 0;
}

#editor {
    display: flex;
}

#speakingAudio {
    display: none;
}

.codeBoxes {
    outline: none;
    resize: none;
    padding: 0.3rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    font-size: inherit;
    resize: none;
    font-family: 'Roboto Mono', monospace;
    margin: 1vh;
    overflow-y: auto;
    overflow-x: none;
    flex: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 95vh;
}

#outputText {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    margin: 0;
}

h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}


p {
    line-height: 1.5rem;
    padding: 1rem;
}

blockquote {
    font-style: oblique;
    line-height: 3rem;
}

iframe {
    border: none;
}

table {
    border-collapse: collapse;
    width: 96%;
    margin: 2%;
}

table td, table th {
    padding: 8px;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

form {
    font-weight: 400;
}

input:not[type="checkbox"], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    -webkit-appearance: none;
    border-radius: 0;
}

input[type=submit] {
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    border-radius: 0;
}



button {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;

}

button img {
    height: 2.5vh;
    padding: 0;
    margin: 0.5vh;
    border: none;
    outline: none;
}

button object {
    height: 2.5vh;
    padding: 0;
    margin: 0.5vh;
    border: none;
    outline: none;
}

#options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 3vh;
    -webkit-appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

img {
    padding: 5%;
}

b {
    font-weight: 700;
}

i {
    font-weight: 300;
}

code {
    width: 90%;
    padding: 0.1rem;
    border-radius: 0.1rem;
    font-family: 'Roboto Mono', monospace;
}

pre code {
    width: 90%;
    margin: 0.3rem;
    padding: 0.3rem;
    display: block;
    border-radius: 0.3rem;
    font-family: 'Roboto Mono', monospace;
}

samp {
    width: 90%;
    font-family: 'Roboto Mono', monospace;
}

header {
    padding: 3rem;
}

header * {
    display: inline;
    margin-left: 1rem;
    margin-right: 1rem;
}

footer {
    font-weight: 300;
    text-align: center;
}

section {
    padding: 1rem;
}

.modal-wrapper {
    position: absolute;
    width: 70vw;
    height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    z-index: 2;
    display: none;
    -webkit-appearance: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.modal-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-title {
    position: absolute;
    top: 0;
    margin: 0.5rem;
    left: 0;
}

.modal-wrapper h3{
    margin-bottom: 1rem;
    margin-top: 1rem;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 85%;
    height: 0.5rem;
    border-radius: 0.3rem;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

main {
    display: none;
    margin: none;
    position: relative; 
    width: 100%; 
  }
  
  .loading-bar-container {
    height: 0.1rem;
    width: 100%;
    background-color: #cfe0f0;
    position: absolute;
    overflow: hidden;
  }
  
  .loading-bar {
    height: 100%;
    width: 50%;
    background-color: #0000ff;
    position: absolute;
    left: -50%;
    animation: loading 2s ease-in 0.5s infinite;
    border-radius: 0.1rem;
  }
  
  @keyframes loading {
   0% {
    transform:translateX(0)
   }
   to {
    transform:translateX(400%)
   }
  }

@media only screen and (max-width: 800px) {
    header * {
        display: block;
    }
}